html{
    overflow: hidden;
}

body {
    overflow: hidden;
    height: 100vh;
    font-family: "Manjari", "Rachana", sans-serif;
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.4em;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    bottom: 0;
}

.pad {
    outline: 1px dotted #565656;
    background-color: ivory;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.pad.inactive {
    outline: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.5s linear;
    z-index: 2;
}

#result {
    font-family: "Manjari", "Rachana", sans-serif;
    font-size: 2em;
    background-color: #fff;
    color: steelblue;
    width: 100%;
    height: 100px;
}

.candidates {
    padding: 10px;
}

.candidates button {
    font-family: "Manjari", "Rachana", sans-serif;
    margin: 0 5px;
    font-size: 1.4em;
    color: steelblue;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 4px;
    min-width: 1.5em;
    min-height: 1.5em;
    cursor: pointer;

}

.tools {
    display: flex;
}

.tools button,
.tools select {
    height: 3em;
}

.tools .back {
    flex-grow: 2;
}

.tools .space {
    flex-grow: 7;
}

.tools .backspace {
    flex-grow: 2;
}

.tools .language {
    flex-grow: 1;
}